{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
	<head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
      {% block keywords %}
        <meta name="keywords" content="宅搜,磁力搜索,bt搜索,番号搜索,番号大全,p2p种子搜索">
      {% endblock %}
      {% block description %}
        <meta name="description" content="宅搜,专门提供bt种子,番号搜索的dht资源搜索网站,提供磁力链接,bt百度云在线观看,迅雷免费高速下载">
      {% endblock %}
      <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    	{% block title %}
        <title>宅搜|otaku.hk|磁力搜索</title>
      {% endblock %}
  		<link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    	<!--[if lt IE 9]>
      		<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      		<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    	<![endif]-->
  	</head>
  	<body>
      <div class="god">
    		<header>
          <nav class="navbar navbar-default custom-navbar">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-responses">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">宅搜otaku</a>
              </div>
              <div class="collapse navbar-collapse" id="navbar-responses">
                <ul class="nav navbar-nav">
                  <li><a href="/">首页</a></li>
                  <li><a href="#">About</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </header>
        
        {% block content %}
      		
        {% endblock %}

      </div> 

        
    	<footer>
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <h4>Otaku.hk磁力搜索</h4>
              <p>本网站一切资源均来源于DHT网络，本网站不提供任何形式的资源存储，只提供资源索引。</p>
              <ul class="friends list-unstyled list-inline">
                <li>友情链接:</li>
                <li><a href="https://bitibiti.com">悖论の小黑屋</a></li>
              </ul>
              <p class="copyright">Copyright © 2015 <a href="https://bitibiti.com">beilun</a> All Rights Reserved</p>
            </div>
            <div class="col-sm-6">
              <ul class="touchus list-unstyled list-inline">
                <li><a href="#"><i>QQ</i></a></li>
                <li><a href="#"><i>Weibo</i></a></li>
                <li><a href="#"><i>Link</i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      {% block scripts %} 
      <script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.3/jquery.js"></script>
      <script type="text/javascript" src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script type="text/javascript">
        $('.x-sform').submit(function(e){
          var kw = $('.x-search').val();
          if(!kw){
              $('.x-search').focus();
              return false;
          }
          var url = '/search/' + encodeURIComponent(kw) + '/';
          window.location = url;
          return false;
        });
      </script>
      {% endblock %}
  	</body>
</html>
