{% extends "layout.html" %}
{% load filters %}
{% block title %}
  <title>{{keyword}}|宅搜|otaku.hk</title>
{% endblock %}
{% block keywords %}
  <meta name="keywords" content="{{keyword}},宅搜,磁力搜索,otaku.hk">
{% endblock %}
{% block description %}
  <meta name="description" content="宅搜——{{keyword}}磁力链接,bt种子搜索列表页">
{% endblock %}
{% block content %}
	<div class="list">
    <form class="input-group input-group custom-input-group x-sform">
      <input type="search" class="form-control x-search" placeholder="输入你想要搜索的内容">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">search!</button>
      </span>
    </form>
    <div class="container">
      <div class="panel custom-panel">
        <div class="panel-heading">Found {{result.meta.total_found}} items for {{keyword}} in {{result.meta.time}}s.</div>

        {% if result.items %}
        <ul class="list-group">
          {% for x in result.items %}
          <li class="list-group-item">
            <h3 class="item-title"><a href="{% url 'hash' x.id%}">{{x.name|highlight:words}}</a></h3>
            <ul class="item-list">
              {% if 'files' in x %}
                    {% for y in x.files %}
                        <li>{{y.path}} <span>{{y.length|filesizeformat}}</span></li>
                    {% endfor %}
                        <li>....</li>
                {% else %}
                    <li>{{x.name}} <span>{{x.length|filesizeformat}}</span></li>
                {% endif %}
            </ul>
            <ul class="item-tail list-inline list-unstyled">
              <li>总大小：{{x.length|filesizeformat}}</li>
              <li>文件数：{{x.files|length}}</li>
              <li>下载热度：{{x.requests}}</li>
              {% if x.maybe_fake %}
                <li><span class="label label-warning">FAKE!!!</span></li>
              {% endif %}
            </ul>
          </li>
          {% endfor %}
        </ul>
        {% else %}
          <h4 style="padding:0 15px;">Sorry, not found "{{keyword}}" in the DHT network. Please try it later :)</h4>
        {% endif %}

      </div> 
      {% if result.items %} 
      <nav>
        <ul class="pagination custom-pagination">
          {% if p == 1 %}
            <li>
              <a href="javascript;" class="disabled">&laquo;</a>
            </li>
          {% else %}
            <li>
              <a href="./?c={{category}}&s={{sort}}&p={{p|add:-1}}">&laquo;</a>
            </li>
          {%endif%}
          {% for i in prev_pages %}
          <li class=""><a href="./?c={{category}}&s={{sort}}&p={{i}}"> {{i}} </a></li>
          {% endfor %}

          <li class="active"><a href="./?c={{category}}&s={{sort}}&p={{g.p}}"> {{p}} <span class="sr-only">(current)</span></a></li>
          
          {% for i in next_pages %}
          <li class=""><a href="./?c={{category}}&s={{sort}}&p={{i}}"> {{i}} </a></li>
          {% endfor %}

          {% if p >= page_max %}
          <li class="disabled"><a href="#">&raquo;</a></li>
          {% else %}
          <li><a href="./?c={{category}}&s={{sort}}&p={{p|add:1}}">&raquo;</a></li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
    </div>
  </div>
{% endblock %} 
    
  	
