{% extends "layout.html" %}

{% block content %}
      
        <div class="post">
          <form class="input-group input-group custom-input-group">
            <input type="search" class="form-control" placeholder="输入你想要搜索的内容">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">search!</button>
            </span>
          </form>
          <div class="container">
            <ul class="list-group">
              <li class="list-group-item"><h3>window10先行版2014.10.22</h3></li>
              <li class="list-group-item">磁力链接：<a href="#">magnet:?xt=urn:btih:bb0c97101097b8e05c106cd26ce41fdc56f3974d</a></li>
              <li class="list-group-item">文件列表：
                <ul>
                  <li>window10先行版2014.10.22<span class="label label-default">444MB</span></li>
                  <li>window10先行版2014.10.22<span class="label label-default">444MB</span></li>
                  <li>window10先行版2014.10.22<span class="label label-default">444MB</span></li>
                </ul>
              </li>
              <li class="list-group-item post-btn">
                <a href="#" class="btn btn-primary">点击下载</a>
                <a href="#" class="btn btn-success">在线观看</a>
              </li>
            </ul>
          </div>
        </div>
  		</div> 
{% endblock %}      
  		