html,body{
	height: 100%;
}
body{
	font-family:"微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a{
	color:inherit;
}
a:hover{
	text-decoration: none;
	color: #F5003D;
}
.pagination .active > a{
	background-color: #FF3366;
	border-color: #FF3366;
}
.god{
	min-height: 100%;
	padding-bottom: 40px;
}
.custom-input-group{
	margin: 0 auto;
	margin-top:50px;
	margin-bottom:50px;
	width: 50%;
}
.custom-input-group input:focus{
	-webkit-box-shadow:0 0 5px 0 #FF3366;
	-moz-box-shadow:0 0 5px 0 #FF3366;
	box-shadow:0 0 5px 0 #FF3366;
	border:1px solid #FF3366;
}
.custom-navbar a:hover{
}
.custom-input-group button:hover{
	color:#f8f8f8;
	background-color: #FF3366;
}
.custom-navbar button{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.custom-navbar .icon-bar{
	background-color:#fff !important;
}
.custom-navbar .navbar-toggle:hover,.custom-navbar .navbar-toggle:focus{
	background-color:#FF3366;
}
.custom-navbar .navbar-toggle:hover .icon-bar,.custom-navbar .navbar-toggle:focus .icon-bar{
	background-color:#FF3366;
}

footer{
	color:#f8f8f8;
	background-color:#FF3366;
	width:100%;
	padding:20px 0;
}
.friends a:hover,.copyright a:hover{
	color:#fff;
}
.touchus{
	margin-top:20px;
	text-align:center;
}
.touchus li{
	width:95px;
	height:95px;
	text-align:center;
	line-height:95px;
	border-radius:50%;
	background-color:#FD517C;
	margin:0 20px;
}


.custom-navbar{
	background-color: #FF3366;
	border-color:#FF3366;
	border-radius:0;
}

.custom-navbar a{
	color:#f8f8f8 !important;
}

.logo{
	margin-top: 30px;
	height:100px;
	width:50%;
	margin: 0 auto;
}

.main{
	padding-top: 10%;
}
.post,.list{
	margin-top: 60px;
}
.hot{
	text-align: center;
	margin:0 auto;
	max-width:75%;
}
.hot li{
	 padding-right:10px;
     padding-left:10px;
}
.hot li a{
	border-bottom: 1px dotted;
}

@media(max-width:768px){
	.custom-input-group{
		width: 90%;
	}
}
@media(max-width:512px){
	.custom-input-group input{
		height: 36px !important;
	}
	.custom-input-group .btn{
		height: 36px !important;
		padding: 5px 10px !important;
	}
}

/* list.html */
.custom-panel{
	border-color:#FF3366;
}
.custom-panel .panel-heading{
	background-color:#FF3366;
	padding: 15px;
	color:#f8f8f8;
}
.list-group a,.list-group li,.list-group span{
	word-wrap:break-word;
	word-break:break-all;
}
.item-list{
	padding-left: 20px;
}
.item-tail{
	padding:6px 0 10px; 
}
.item-tail li{
	padding:4px 2px;
}
.list .label-default,.post .label-default{
	background-color: #FF3366;
}
.list .custom-pagination a{
	color:#000;
}
.list .custom-pagination a:hover,.list .custom-pagination a:hover{
	color: #FFFFFF;
    background-color: #ff3366;
    border-color: #ff3366;
}

/* post */
.post .label-default{
	margin-left: 5px;
}
.post li{
	margin: 7px;
}
.post-btn{
	font-size: 20px;
}
.post-btn a:hover{
	color:#fff;
}

